//#30231d
//#6a5750
//#f6f1ed
//#b5a397

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Fira Sans';
  overflow-x: hidden;
}

input[type="checkbox"]#r2menutoggle {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.r2-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  visibility: hidden;
  transform: translate3d(-300px, 0, 0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(106, 87, 80, 0.75);
  transition: transform 0.5s, visibility 0s 0.5s;

//background: #606a88; /* Old browsers */
//background: -moz-linear-gradient(top,  #606a88 0%, #3f4a6b 100%); /* FF3.6-15 */
//background: -webkit-linear-gradient(top,  #606a88 0%,#3f4a6b 100%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to bottom,  #606a88 0%,#3f4a6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606a88', endColorstr='#3f4a6b',GradientType=0 ); /* IE6-9 */

  a {
    color: #E4E4E4;
  }

  .r2-menu-links {
    flex: 1;
  }

  .r2-menu-item {
    width: 100%;
    padding: 0px;
    color: #6a5750;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .r2-copyright-notice {
    height: 20px;
  }

  .r2-menu-item:hover {
    background-color: #b5a397;
  }
}

.r2-body-content {
  position: relative;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s;

  .r2-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #DADADA;
    margin: 0px;
    vertical-align: middle;

    .r2-nav-button {
      display: inline-block;
    }

    button {
      width: 58px;
      height: 58px;
      border: none;
      background-color: #DADADA;
    }

    h1 {
      display: inline-block;
      margin-top: 8px;
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 30px;
    }
  }

  .r2-page-content {
    .block {
      max-width: 495px;
      text-align: justify;
      padding: 20px;
    }
  }
}

input[type="checkbox"]#r2menutoggle:checked ~ div.r2-body-content {
  transform: translate3d(300px, 0, 0);
}

input[type="checkbox"]#r2menutoggle:checked ~ div.r2-menu {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  transition-delay: 0s;
}
