<input type="checkbox" id="r2menutoggle" ng-model="vm.sideMenuVisible" />

<div class="r2-menu">
  <div class="r2-menu-links">
    <div class="r2-menu-item">
      <a href="">Home</a>
    </div>
    <div class="r2-menu-item">
      <a href="">Code</a>
    </div>
    <div class="r2-menu-item">
      <a href="">Contact</a>
    </div>
  </div>
  <div class="r2-copyright-notice">
    &copy; Richard Russell 2016
  </div>
</div>

<div class="r2-body-content">
  <div class="r2-top-bar">
    <div class="r2-nav-button">
      <button ng-click="vm.toggleMenu()">
        <span class="fa fa-bars fa-2x"></span>
      </button>
    </div>
    <h1>Homepage</h1>
  </div>
  <div class="r2-page-content">
    <div class="block">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
